<div class="accordion-item" (onToggled)="onToggle($event)" [ngClass]="{'is-collapsed': this.collapsed}">
    <div class="container-fluid">
        <div class="row">
            <ng-content></ng-content>
        </div>
    </div>
</div>