<accordion #accordion class="accordion">
    <accordion-item [collapsed]="false">
        <div class="col-md-3 md-pull-3 col-sm-12 nopadding">
            <accordion-item-head>
                    <h4>שלב 3</h4>
            </accordion-item-head>
        </div>
        <div class="col-md-9 md-pull-3 col-sm-12">
            <accordion-item-body>
                <form #termsForm="ngForm" class="editForm" novalidate>
                    <div class="tab-pane fade-in active">
                        <h4 class="head text-center">{{title}}</h4>
                        <br/>
                        <div class='row'>
                            <div class='container'>
                                <div class="row">
                                    <div class='col-xs-12 col-sm-6'>
                                        <div class="form-group">
                                            <label class="control-label" for="agree">agree</label>
                                            <input class="form-control input-md" #agree="ngModel" required name="agree" type="text" placeholder="agree" [(ngModel)]="terms.agree">
                                            <div class="alert alert-danger" [hidden]="agree.valid">agree is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </accordion-item-body>
        </div>
    </accordion-item>
</accordion>
<section class="next">
    <div class="form-group text-left">
        <button class="btn btn-success btn-outline-rounded btn-info" [disabled]="!termsForm.valid" (click)="goToNext(personalForm)">
            המשך
            <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span>
        </button>
    </div>
</section>