<nav>
  <ul dir="rtl">
    <li *ngFor="let item of itemsDictionary; let i = index" class="nav-item">
      <navbar-item step={{i+1}} stepName="{{item.name}}" stepTitle="{{item.title}}" active="{{i == 0}}"></navbar-item>
    </li>
  </ul>
</nav>

