

@import '~compass-mixins/lib/compass/css3/border-radius';

nav {
    background-color: white;
    ul {
        text-align: right;

        .nav-item {
            display: inline-block;
            position: relative;

            &:first-child navbar-item:host a{
                padding-right: 25px;
            }
        
        }
    }
}

.nav-link {
    color: inherit;
    padding: 12px;

    &.active{
        background-color:#004080;
        color:white;
        margin-left: 25px;
    
        &::after{
                content: "";
                display: block;
                border-top: 25px solid transparent;
                border-bottom: 25px solid transparent;
                border-right: 25px solid #004080;
                position: absolute;
                top: 0;
                left: 0;
            }
    }
}

.nav-step{
    @include border-radius(100%);
    border: 1px solid;
    width: 26px;
}

.nav-link, .nav-step {
    display: inline-block
}

@media (max-width: 680px) { 
    .nav-link {
        &:not(.active) span {
            display: none;
        }
    }

 }



