<accordion #accordion class="accordion">
    <accordion-item [collapsed]="false">
        <div class="col-md-3 md-pull-3 col-sm-12 nopadding">
            <accordion-item-head>
                <h4>שלב 2</h4>
            </accordion-item-head>
        </div>
        <div class="col-md-9 md-pull-3 col-sm-12 nopadding">
            <accordion-item-body>
                <form #personalForm="ngForm" class="editForm" novalidate>
                    <div class="tab-pane fade-in active">
                        <h4 class="head text-center">{{title}}</h4>
                        <br/>
                        <div class='row'>
                            <div class='container'>
                                <div class="row">
                                    <div class='col-xs-12 col-sm-6'>
                                        <div class="form-group">
                                            <label class="control-label" for="address">First Name</label>
                                            <input class="form-control input-md" #address="ngModel" required name="address" type="text" placeholder="Address" [(ngModel)]="personal.address">
                                            <div class="alert alert-danger" [hidden]="address.valid">First Name is required</div>
                                        </div>
                                    </div>
                                    <div class='col-xs-12 col-sm-6'>
                                        <div class="form-group">
                                            <label class="control-label" for="zip">Last Name</label>
                                            <input class="form-control input-md" #zip="ngModel" required name="zip" type="text" placeholder="Zip" [(ngModel)]="personal.zip">
                                            <div class="alert alert-danger" [hidden]="zip.valid">Last Name is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="email">Email</label>
                                    <input class="form-control input-md" #email="ngModel" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" name="email" type="text"
                                        placeholder="Email" [(ngModel)]="personal.email">
                                    <div class="alert alert-danger" [hidden]="email.valid">Email is required and must be valid</div>
                                </div>


                            </div>
                        </div>
                    </div>
                </form>
            </accordion-item-body>
        </div>
    </accordion-item>
</accordion>
<section class="next">
    <div class="form-group text-left">
        <button class="btn btn-success btn-outline-rounded btn-info" [disabled]="!personalForm.valid" (click)="goToNext(personalForm)">
            המשך
            <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span>
        </button>
    </div>
</section>