<accordion #accordion class="accordion">
    <accordion-item [collapsed]="false">
        <div class="col-md-3 md-pull-3 col-sm-12 nopadding">
            <accordion-item-head>
                <h4>{{ title }}</h4>
            </accordion-item-head>
        </div>
        <div class="col-md-9 md-pull-3 col-sm-12 nopadding">
            <accordion-item-body>
                <form #generalForm="ngForm" class="editForm" dir="rtl" novalidate>
                    <div class="tab-pane fade-in active">
                        <h6 class="head text-right d-sm-none d-md-block">{{ formTitle }}</h6>
                        <div class='container'>
                            <div class="row">
                                <div class='col-lg-12 text-right'>
                                    <div class="form-group">
                                        <input type="checkbox" #for="ngModel" name="accountSplit" [(ngModel)]="general.accountSplit"> אני מעוניין לפצל את החשבון שלי בין שני מסלולים שונים (תוכל לבצע פעולה זו בהמשך התהליך)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class='col-xs-12 col-sm-6 col-lg-4 order-lg-2 order-sm-3 order-2 '>
                                    <div class="form-group">
                                        <label class="control-label" for="firstname"> שם פרטי
                                            <span>*</span>
                                        </label>
                                        <input class="form-control input-md" #firstname="ngModel" required name="firstname" type="text" placeholder="First Name"
                                            [(ngModel)]="general.firstName">
                                    </div>
                                </div>
                                <div class='col-xs-12 col-sm-6 col-lg-4 order-lg-1 order-sm-2 order-3'>
                                    <div class="form-group">
                                        <label class="control-label" for="lastname"> שם משפחה
                                            <span>*</span>
                                        </label>
                                        <input class="form-control input-md" #lastname="ngModel" required name="lastname" type="text" placeholder="Last Name" [(ngModel)]="general.lastName">
                                    </div>
                                </div>
                                <div class='col-xs-12 col-sm-12 col-lg-4 order-lg-3 order-1'>
                                    <div class="form-group">
                                        <label class="control-label" for="deal"> מסלול השקעה לבחירתך </label>
                                        <select ng-model="general.firstName" class="form-control selectpicker" name="deal">
                                            <option value="1">מסלול כללי - 3.07 שנתי</option>
                                            <option value="2">מסלול 2</option>
                                            <option value="3">מסלול 3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-right">
                                    <div class="form-group">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" #for="ngModel" required name="for" [(ngModel)]="general.for" value="1"> עבורי
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" #for="ngModel" required name="for" [(ngModel)]="general.for" value="2"> עבור אדם אחר
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 more-info text-right">
                                    <p>
                                        <span>למידע נוסף על מסלולי ההשקעה ></span>
                                        <span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </accordion-item-body>
        </div>
    </accordion-item>
</accordion>
<section class="next">
    <div class="form-group text-left">
        <button class="btn btn-success btn-outline-rounded btn-info" [disabled]="!generalForm.valid" (click)="goToNext(generalForm)">
            המשך
            <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span>
        </button>
    </div>
</section>