<header>
    <div class="container">
        <nav>
            <a href="#">
                <img src="../assets/logo.png" alt="logo" />
            </a>
            <ul dir="rtl">
                <li>
                    <a href="#">
                        <span>ביטוח</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>פנסיה</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>קרנות נאמנות</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="container">
    <router-outlet></router-outlet>
</div>