@import url("./accordion/accordion.component.scss");

header {
    background-color: #004080;
    padding: 5px 0;

    .container{
        nav {
            display: table;
            >* {
                display: table-cell;
            }
        }

        ul {
            vertical-align: middle;
            list-style: none;
            width: 100%;
            text-align: right;
    
            li {
                display: inline-block;
                
                a {
                    border-left:1px solid white;
                    color: white;
                    display: block;
                    width: 100%;
                    font-weight: bold;
                    line-height: 15px;
                    padding: 0 15px;
                    span {
                        position: relative;
                        top: -1px;
                    }
                }

                &:last-of-type {
                    a {
                        border-left:none;
                    }
                }
            }
        }
    }
}


@media (max-width: 768px) { 
    .container{
        max-width: 100%;
    }
 }



