.accordion .accordion-item {
    background-color: white;
    overflow: hidden;
}

.accordion .accordion-item .row {
    flex-direction: row-reverse;
}

.accordion .accordion-item-component:first-child .accordion-item {
    border-top: 1px solid #E0E0E0;
}

.accordion .accordion-item-head{
    background-color: #004080;
    height: 100%;
    text-align: right;
    padding: 10px;
    
}

.accordion .accordion-item-head a, .accordion .accordion-item-head a:hover{
    color:white;
    cursor: pointer;
    display: block;
}

.accordion .accordion-item .accordion-item-head a .toggle-icon {
    display: block;
    float: right;
    height: 16px;
    position: relative;
    transform: rotate(45deg);
    transition: 0.3s transform;
    width: 16px;
}

.accordion .accordion-item.is-collapsed .accordion-item-head a .toggle-icon {
    transform: rotate(0);
}

.accordion .accordion-item-head a .toggle-icon:before,
.accordion .accordion-item-head a .toggle-icon:after {
    background: #000000;
    content: ' ';
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    width: 1px;
}

.accordion .accordion-item-head a .toggle-icon:after {
    transform: rotate(90deg);
}

.accordion .accordion-item .accordion-item-body {
    height: 0;
    overflow: hidden;
    position: relative;
}

.accordion .accordion-item .accordion-item-body .inner {
    padding: 10px 0 0 0;
}