header {
    background-color: #002448;
    width:100%;
    padding-right:10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

h1 {
    color: white;
    text-align: right;
}

.navbar {
    width:100%;
    text-align: right;
}


