/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-select/dist/css/bootstrap-select.css";
@import "~font-awesome/css/font-awesome.css";
@import url("./app/app.component.scss");

@import '~compass-mixins/lib/compass/css3/border-radius';

body {
    background: url('./assets/bg.jpg');
    background-size: cover;
}

h1 {
    margin:0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

section {
    margin-top: 10px;
    width: 100%;
}

section .next {
    background-color:white;
}

.nopadding {
    padding: 0;
}

.alert-danger {
    padding: 0;
    border: 0;
    background-color: transparent;
    color: red;
}

.btn-light {
    background-color: white;
    &:hover{
        background-color: white; 
    }
}

.radio {
    float: right;
}

.radio + .radio {
    margin-right: 25px;
}

label {
    color: #004080;
    font-weight: bold;

    span {
        color:red;
    }
}

.radio label {
    color: inherit;
    font-weight: normal;
}

.more-info {
    width: 100%;
    color: #5e94ba;
    position: absolute;
    bottom: 0;
}

i {
    text-decoration:none;
}

input[type=text], .btn.dropdown-toggle {
    border-color: #5e94ba;
    @include border-radius(0);
}

.btn.dropdown-toggle {
    &::after{
        color: #5e94ba;
        display: block;
        position: absolute;
        left: 7px;
        top: 17px;
    }
}

.bootstrap-select .dropdown-toggle .filter-option-inner {
    padding-right: 0;
    margin-left: 20px;
    border-left:1px solid #5e94ba;
}

.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
    text-align: right
}

label{
    display:block;
    width:100%;
    text-align: right;
}

h6 {
    color: #5e94ba;
    padding-right: 15px;
    padding-bottom: 35px;
    border-bottom: 1px solid #5e94ba;
}

.accordion-item-body .row:nth-last-child(2) {
    margin-bottom: 50px;
}